/backend/apps/accounts/         @yad3rii
/backend/apps/catalog/          @yad3rii
/backend/apps/store/            @Zheka2411
/backend/apps/payments/         @Zheka2411
/backend/apps/library/          @YaderniyDrakon420
/backend/apps/reviews/          @YaderniyDrakon420
/frontend/                      @Ah3lar

/backend/config/                @yad3rii
/backend/requirements.txt       @yad3rii
/docker-compose.yml             @yad3rii
/.github/                       @yad3rii